@media screen and (max-width: 768px) {
  /* #counter {
    display: flex;
  } */

  .count1 {
    flex-grow: 1;
    flex-basis: 200;
    width: 100%;
  }

  .hero4-img img {
    width: 1300px;
  }

  .hero4-join h1 {
    font-size: 2.8rem;
    font-weight: 400;
  }
  .hero4-join h4 {
    font-size: 1.3rem;
    font-weight: 400;
  }
  .hero4-join p {
    font-size: 1rem;
    font-weight: 500;
  }

  .help {
    height: 35vh;
  }
  .help h1 {
    font-size: 2.9rem;
    font-weight: 400;
  }
  .help p {
    font-size: 1.4rem;
  }
  .hero8-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero8-img {
    width: 650px;
    margin-top: 5vh;
  }

  .hero8-join h1 {
    font-size: 65px;
    font-weight: 400;
  }
  .hero8-join p {
    font-size: 25px;
    font-weight: 500;
  }
}

@media screen and (max-width: 575.98px) {
  .navbar {
    padding-left: 5vh;
    padding-right: 5vh;
  }
  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    gap: 2vh;
  }

  .navbar-menu li {
    padding: 10px 20px;
  }

  .navbar-toggle {
    display: block;
    font-size: 30px;
  }

  .navbar-brand img {
    width: 50px;
  }

  .hero4-content {
    flex-direction: column;
    flex-direction: column-reverse;
    padding: 20px;
  }

  .hero8-content {
    display: inline-block;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .hero8-img {
    width: 296px;
    flex-direction: column;
    align-items: center;
  }

  .hero8-join h1 {
    font-size: 65px;
    font-weight: 400;
  }
  .hero8-join p {
    font-size: 25px;
    font-weight: 500;
  }

  .hero4-img img {
    width: 700px;
    padding-top: 7vh;
  }

  .hero4-join {
    margin: 10px;
  }
  .hero4-join h4 {
    font-size: 1.4rem;
  }
  .hero4-join p {
    font-size: 1.3rem;
  }
  .hero4-join h1 {
    font-size: 2.9rem;
  }

  .hero7-card {
    height: 50vh;
    width: 100%;
  }
  #counter {
    height: auto;
    padding: 10vh;
    flex-direction: column;
    align-items: start;
    gap: 80px;
  }
  .coun1-img img{
    width: 76px;
  }
  .hero6-card {
    display: inline-block;
    flex-basis: 1;
    display: grid;
    padding: 30px;
  }

  .coun1-img {
    font-size: 1.5rem;
  }

  #hero4 {
    display: inline-block;
    padding: 30px;
  }

  /* .hero7-card {
    width: auto;
    height: auto;
  } */

  .help {
    height: auto;
    width: auto;
    padding: 30px;
  }
}

@media screen and (max-width: 480px) {
  .hero8-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: auto;
  }

  .hero8-img img {
    width: 800px;
    display: flex;
  }

  .hero8-join h1 {
    font-size: 2.8rem;
    font-weight: 400;
  }
  .hero8-join p {
    font-size: 1rem;
    font-weight: 500;
  }
}
